@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		font-family: 'Titillium Web', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-position: 50% 15%;
		@apply text-my-dark  bg-my-light bg-no-repeat  bg-left  lg:bg-fixed  bg-cover;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1023' height='5942' preserveAspectRatio='none' viewBox='0 0 1023 5942'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1231%26quot%3b)' fill='none'%3e%3ccircle r='31.605' cx='158.01' cy='3806.51' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='63.235' cx='858.01' cy='2843.33' fill='url(%23SvgjsLinearGradient1232)'%3e%3c/circle%3e%3ccircle r='98.17' cx='718.82' cy='5584.05' fill='url(%23SvgjsLinearGradient1233)'%3e%3c/circle%3e%3ccircle r='89.125' cx='722.1' cy='2703.72' fill='url(%23SvgjsLinearGradient1234)'%3e%3c/circle%3e%3ccircle r='76.335' cx='27.89' cy='5411.53' fill='url(%23SvgjsLinearGradient1235)'%3e%3c/circle%3e%3ccircle r='70.875' cx='188.67' cy='4667.06' fill='url(%23SvgjsLinearGradient1236)'%3e%3c/circle%3e%3ccircle r='74.18' cx='1020.67' cy='4146.58' fill='url(%23SvgjsLinearGradient1237)'%3e%3c/circle%3e%3ccircle r='98.86' cx='182.73' cy='1927.72' fill='url(%23SvgjsLinearGradient1238)'%3e%3c/circle%3e%3ccircle r='92.945' cx='975.17' cy='7.97' fill='url(%23SvgjsLinearGradient1239)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1231'%3e%3crect width='1023' height='5942' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='731.54' y1='2843.33' x2='984.48' y2='2843.33' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1232'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='522.48' y1='5584.05' x2='915.1600000000001' y2='5584.05' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1233'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='543.85' y1='2703.72' x2='900.35' y2='2703.72' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1234'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-124.77999999999999' y1='5411.53' x2='180.56' y2='5411.53' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1235'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='46.91999999999999' y1='4667.06' x2='330.41999999999996' y2='4667.06' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1236'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='872.31' y1='4146.58' x2='1169.03' y2='4146.58' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1237'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-14.990000000000009' y1='1927.72' x2='380.45' y2='1927.72' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1238'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='789.28' y1='7.969999999999999' x2='1161.06' y2='7.969999999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1239'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	}
	@media (min-width: 1024px) {
		body {
			background-position: unset;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2200' preserveAspectRatio='none' viewBox='0 0 1440 2200'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1068%26quot%3b)' fill='none'%3e%3crect width='1440' height='2200' x='0' y='0' fill='rgba(${data})'%3e%3c/rect%3e%3ccircle r='87.76' cx='71.02' cy='973.63' fill='url(%23SvgjsLinearGradient1069)'%3e%3c/circle%3e%3ccircle r='88.73' cx='385.66' cy='438.91' fill='url(%23SvgjsLinearGradient1070)'%3e%3c/circle%3e%3ccircle r='38.03' cx='269.27' cy='1656.4' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='59.42' cx='757.61' cy='1537.94' fill='url(%23SvgjsLinearGradient1071)'%3e%3c/circle%3e%3ccircle r='139.485' cx='1219.25' cy='173.78' fill='url(%23SvgjsLinearGradient1072)'%3e%3c/circle%3e%3ccircle r='84.98' cx='983.06' cy='1635.58' fill='url(%23SvgjsLinearGradient1073)'%3e%3c/circle%3e%3ccircle r='53.73' cx='319.75' cy='2020.86' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/circle%3e%3ccircle r='58.765' cx='1073.26' cy='860.86' fill='url(%23SvgjsLinearGradient1075)'%3e%3c/circle%3e%3ccircle r='79.47' cx='917.79' cy='2107.02' fill='url(%23SvgjsLinearGradient1076)'%3e%3c/circle%3e%3ccircle r='104.88' cx='60.09' cy='237.26' fill='url(%23SvgjsLinearGradient1077)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1068'%3e%3crect width='1440' height='2200' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='-104.50000000000001' y1='973.63' x2='246.54000000000002' y2='973.63' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1069'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='208.20000000000002' y1='438.9100000000001' x2='563.12' y2='438.9100000000001' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1070'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='638.77' y1='1537.94' x2='876.45' y2='1537.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1071'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='940.28' y1='173.78' x2='1498.22' y2='173.78' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1072'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='813.0999999999999' y1='1635.58' x2='1153.02' y2='1635.58' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1073'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='212.29000000000002' y1='2020.86' x2='427.21000000000004' y2='2020.86' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1074'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='955.73' y1='860.86' x2='1190.79' y2='860.86' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1075'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='758.8499999999999' y1='2107.02' x2='1076.73' y2='2107.02' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1076'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-149.67' y1='237.26' x2='269.85' y2='237.26' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1077'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
		}
	}

	#root {
		@apply relative after:absolute;
	}

	#root::after {
		@apply inset-0 bg-no-repeat bg-cover bg-bottom lg:bg-fixed  opacity-60;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1023' height='5942' preserveAspectRatio='none' viewBox='0 0 1023 5942'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1196%26quot%3b)' fill='none'%3e%3cpath d='M65.19 3744.43L220.21 3833.93L220.21 4012.93L65.19 4102.43L-89.83 4012.93L-89.83 3833.93zM220.21 4012.93L375.24 4102.43L375.24 4281.43L220.21 4370.93L65.19 4281.43L65.19 4102.43zM375.24 522.43L530.26 611.93L530.26 790.93L375.24 880.43L220.21 790.93L220.21 611.93zM375.24 2133.43L530.26 2222.93L530.26 2401.93L375.24 2491.43L220.21 2401.93L220.21 2222.93zM375.24 4281.43L530.26 4370.93L530.26 4549.93L375.24 4639.43L220.21 4549.93L220.21 4370.93zM840.3 253.93L995.33 343.43L995.33 522.43L840.3 611.93L685.28 522.43L685.28 343.43zM685.28 1596.43L840.3 1685.93L840.3 1864.93L685.28 1954.43L530.26 1864.93L530.26 1685.93zM995.33 522.43L1150.35 611.93L1150.35 790.93L995.33 880.43L840.3 790.93L840.3 611.93zM1150.35 1327.93L1305.37 1417.43L1305.37 1596.43L1150.35 1685.93L995.33 1596.43L995.33 1417.43zM995.33 1596.43L1150.35 1685.93L1150.35 1864.93L995.33 1954.43L840.3 1864.93L840.3 1685.93zM995.33 3207.43L1150.35 3296.93L1150.35 3475.93L995.33 3565.43L840.3 3475.93L840.3 3296.93zM1150.35 5623.93L1305.37 5713.43L1305.37 5892.43L1150.35 5981.93L995.33 5892.43L995.33 5713.43z' stroke='rgba(3%2c 48%2c 93%2c 0.87)' stroke-width='2'%3e%3c/path%3e%3cpath d='M47.29 3744.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 3833.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 4012.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM47.29 4102.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM-107.73 4012.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM-107.73 3833.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 4102.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 4281.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 4370.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM47.29 4281.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 522.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 611.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 790.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 880.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 790.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 611.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 2133.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 2222.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 2401.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 2491.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 2401.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 2222.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 4370.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 4549.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM357.34 4639.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM202.31 4549.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 253.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 343.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 522.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 611.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM667.38 522.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM667.38 343.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM667.38 1596.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 1685.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 1864.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM667.38 1954.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 1864.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM512.36 1685.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 611.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 790.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 880.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 790.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 1327.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1287.47 1417.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1287.47 1596.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 1685.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 1596.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 1417.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 1864.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 1954.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 3207.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 3296.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 3475.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 3565.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 3475.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM822.4 3296.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 5623.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1287.47 5713.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1287.47 5892.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1132.45 5981.93 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 5892.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM977.43 5713.43 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0z' fill='rgba(3%2c 48%2c 93%2c 0.87)'%3e%3c/path%3e%3cpath d='M236.19 105.15L383.42 190.15L383.42 360.15L236.19 445.15L88.96 360.15L88.96 190.15zM88.96 870.15L236.19 955.15L236.19 1125.15L88.96 1210.15L-58.27 1125.15L-58.27 955.15zM236.19 1125.15L383.42 1210.15L383.42 1380.15L236.19 1465.15L88.96 1380.15L88.96 1210.15zM88.96 1380.15L236.19 1465.15L236.19 1635.15L88.96 1720.15L-58.27 1635.15L-58.27 1465.15zM88.96 1890.15L236.19 1975.15L236.19 2145.15L88.96 2230.15L-58.27 2145.15L-58.27 1975.15zM88.96 2400.15L236.19 2485.15L236.19 2655.15L88.96 2740.15L-58.27 2655.15L-58.27 2485.15zM236.19 2655.15L383.42 2740.15L383.42 2910.15L236.19 2995.15L88.96 2910.15L88.96 2740.15zM88.96 2910.15L236.19 2995.15L236.19 3165.15L88.96 3250.15L-58.27 3165.15L-58.27 2995.15zM88.96 3420.15L236.19 3505.15L236.19 3675.15L88.96 3760.15L-58.27 3675.15L-58.27 3505.15zM88.96 4440.15L236.19 4525.15L236.19 4695.15L88.96 4780.15L-58.27 4695.15L-58.27 4525.15zM88.96 4950.15L236.19 5035.15L236.19 5205.15L88.96 5290.15L-58.27 5205.15L-58.27 5035.15zM383.42 870.15L530.65 955.15L530.65 1125.15L383.42 1210.15L236.19 1125.15L236.19 955.15zM383.42 1380.15L530.65 1465.15L530.65 1635.15L383.42 1720.15L236.19 1635.15L236.19 1465.15zM383.42 1890.15L530.65 1975.15L530.65 2145.15L383.42 2230.15L236.19 2145.15L236.19 1975.15zM383.42 2910.15L530.65 2995.15L530.65 3165.15L383.42 3250.15L236.19 3165.15L236.19 2995.15zM530.65 3165.15L677.87 3250.15L677.87 3420.15L530.65 3505.15L383.42 3420.15L383.42 3250.15zM530.65 3675.15L677.87 3760.15L677.87 3930.15L530.65 4015.15L383.42 3930.15L383.42 3760.15zM383.42 4440.15L530.65 4525.15L530.65 4695.15L383.42 4780.15L236.19 4695.15L236.19 4525.15zM530.65 4695.15L677.87 4780.15L677.87 4950.15L530.65 5035.15L383.42 4950.15L383.42 4780.15zM530.65 5205.15L677.87 5290.15L677.87 5460.15L530.65 5545.15L383.42 5460.15L383.42 5290.15zM530.65 5715.15L677.87 5800.15L677.87 5970.15L530.65 6055.15L383.42 5970.15L383.42 5800.15zM825.1 105.15L972.33 190.15L972.33 360.15L825.1 445.15L677.87 360.15L677.87 190.15zM825.1 615.15L972.33 700.15L972.33 870.15L825.1 955.15L677.87 870.15L677.87 700.15zM677.87 870.15L825.1 955.15L825.1 1125.15L677.87 1210.15L530.65 1125.15L530.65 955.15zM825.1 1635.15L972.33 1720.15L972.33 1890.15L825.1 1975.15L677.87 1890.15L677.87 1720.15zM677.87 1890.15L825.1 1975.15L825.1 2145.15L677.87 2230.15L530.65 2145.15L530.65 1975.15zM825.1 2145.15L972.33 2230.15L972.33 2400.15L825.1 2485.15L677.87 2400.15L677.87 2230.15zM677.87 2400.15L825.1 2485.15L825.1 2655.15L677.87 2740.15L530.65 2655.15L530.65 2485.15zM825.1 2655.15L972.33 2740.15L972.33 2910.15L825.1 2995.15L677.87 2910.15L677.87 2740.15zM677.87 3420.15L825.1 3505.15L825.1 3675.15L677.87 3760.15L530.65 3675.15L530.65 3505.15zM677.87 3930.15L825.1 4015.15L825.1 4185.15L677.87 4270.15L530.65 4185.15L530.65 4015.15zM677.87 5460.15L825.1 5545.15L825.1 5715.15L677.87 5800.15L530.65 5715.15L530.65 5545.15zM1119.56 105.15L1266.79 190.15L1266.79 360.15L1119.56 445.15L972.33 360.15L972.33 190.15zM972.33 360.15L1119.56 445.15L1119.56 615.15L972.33 700.15L825.1 615.15L825.1 445.15zM1119.56 615.15L1266.79 700.15L1266.79 870.15L1119.56 955.15L972.33 870.15L972.33 700.15zM972.33 870.15L1119.56 955.15L1119.56 1125.15L972.33 1210.15L825.1 1125.15L825.1 955.15zM972.33 1380.15L1119.56 1465.15L1119.56 1635.15L972.33 1720.15L825.1 1635.15L825.1 1465.15zM972.33 1890.15L1119.56 1975.15L1119.56 2145.15L972.33 2230.15L825.1 2145.15L825.1 1975.15zM1119.56 2145.15L1266.79 2230.15L1266.79 2400.15L1119.56 2485.15L972.33 2400.15L972.33 2230.15zM972.33 2400.15L1119.56 2485.15L1119.56 2655.15L972.33 2740.15L825.1 2655.15L825.1 2485.15zM972.33 2910.15L1119.56 2995.15L1119.56 3165.15L972.33 3250.15L825.1 3165.15L825.1 2995.15zM972.33 3930.15L1119.56 4015.15L1119.56 4185.15L972.33 4270.15L825.1 4185.15L825.1 4015.15zM1119.56 4185.15L1266.79 4270.15L1266.79 4440.15L1119.56 4525.15L972.33 4440.15L972.33 4270.15zM1119.56 4695.15L1266.79 4780.15L1266.79 4950.15L1119.56 5035.15L972.33 4950.15L972.33 4780.15zM1119.56 5205.15L1266.79 5290.15L1266.79 5460.15L1119.56 5545.15L972.33 5460.15L972.33 5290.15z' stroke='rgba(3%2c 105%2c 161%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1196'%3e%3crect width='1023' height='5942' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	}

	.dark {
		@apply text-my-light bg-my-bgDark;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}
}

@layer utilities {
	.my-gradient {
		background-image: linear-gradient(to left top, #30cfd0 40%, #330867 100%);
	}

	.my-gradient-text {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.text-shadow {
		text-shadow: 0.0625rem 0.0625rem 0.3125rem #000;
	}

	.flying {
		animation: fly 5s infinite ease-in-out;
	}

	@keyframes fly {
		0%,
		100% {
			transform: translateY(-72%);
		}
		50% {
			transform: translateY(72%);
		}
	}
}

@layer components {
	.App {
		@apply min-h-screen mx-auto flex flex-col items-center justify-between max-w-[100rem] relative;
	}

	.burger-btn {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out after:absolute before:absolute after:-translate-y-3 before:translate-y-2 after:-translate-x-1/2 before:-translate-x-1/2;
	}

	.burger-btn::after,
	.burger-btn::before {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out;
	}

	.cross-btn {
		@apply w-6 h-1  rounded-md transition-all duration-500 ease-in-out -translate-x-1/2 bg-transparent after:absolute before:absolute after:rotate-45 before:-rotate-45 after:top-1/2 after:left-1/2  after:-translate-y-1/2 
		before:top-1/2 before:left-1/2  before:-translate-y-1/2;
	}

	.cross-btn::after,
	.cross-btn::before {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out;
	}

	.nav-link {
		@apply uppercase font-bold px-1 relative tracking-wider text-lg transform duration-300 ease-in-out after:absolute hover:text-my-accentHover active:text-my-accentHover hover:after:scale-100 active:after:scale-100 hover:transform;
	}

	.icons {
		@apply transform duration-300 ease-in-out  hover:text-my-accentHover active:text-my-accentHover after:absolute hover:after:scale-100 active:after:scale-100 hover:transform;
	}
	.icons::after,
	.nav-link::after {
		@apply w-full h-0.5 bg-my-accent scale-x-0 origin-left -bottom-1 left-0 transition-all duration-200 ease-in-out;
	}
	.headLine2 {
		line-height: 1;
		font-size: clamp(1rem, 8vw, 3.75rem);
		@apply font-bold uppercase whitespace-nowrap text-center md:text-left;
	}

	.headline3 {
		line-height: 1;
		font-size: clamp(1rem, 6.5vw, 3rem);
		@apply font-bold uppercase whitespace-nowrap text-center;
	}

	.logos {
		@apply text-shadow  flex flex-col py-1 items-center justify-center text-my-light  bg-my-dark/80  rounded-md relative  after:absolute after:top-2 after:left-2 after:w-6 after:h-6 after:border-l after:border-t  after:opacity-0 hover:after:opacity-100  after:duration-500 before:absolute before:bottom-2 before:right-2 before:w-6 before:h-6 before:border-r before:border-b  before:opacity-0 hover:before:opacity-100  before:duration-500 after:scale-150 before:scale-150 hover:before:scale-100 hover:after:scale-100;
	}

	.logos:hover .icon {
		@apply animate-flip;
	}

	.toggle-mode:checked + .slider {
		@apply bg-my-dark;
	}

	.toggle-mode:checked + .slider:before {
		@apply translate-x-[1.625rem] bg-my-dark;

		box-shadow: inset -0.1875rem -0.125rem 0.3125rem -0.125rem #8983f7,
			inset -0.625rem -0.25rem 0 0 #a3dafb;
	}

	.card {
		@apply flex-grow w-full text-left z-30;
	}

	.btn {
		@apply bg-my-accent text-my-dark font-bold rounded-md duration-300  hover:bg-my-accentHover active:bg-my-accentHover border border-my-dark;
	}

	.modal::backdrop {
		@apply bg-my-accent/30;
	}

	.modal::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.btn:disabled {
		@apply text-my-textDisable bg-my-btnDissable;
	}

	.projects-sections {
		@apply sm:mx-4 md:mx-0 md:flex;
	}
	.projects-ul {
		@apply grid grid-cols-2 font-bold place-items-start border-t my-gradient my-gradient-text border-my-accent my-3 pt-3;
	}

	.projects-a {
		@apply text-my-accent py-0.5 underline  hover:text-my-accentHover active:text-my-accentHover duration-300 ease-in-out;
	}

	.projects-article {
		@apply bg-my-light/90 dark:bg-my-bgDark/90 grid md:place-content-center  px-4 py-2 relative  dark:top-0 z-50 rounded-md small:w-3/4  md:flex-[1];
	}
	.projects-container section:not(:last-child) article {
		@apply relative after:absolute after:w-[90%] after:rounded-md after:left-1/2 after:-translate-x-1/2 small:after:w-full after:h-2 after:top-full z-50 after:bg-my-accent md:after:hidden;
	}

	.projects-container section:nth-child(even) article {
		@apply md:relative md:before:absolute md:before:w-2 md:before:h-full md:before:bg-my-accent md:before:left-full md:before:rounded-md lg:before:hidden;
	}
	.projects-container section:nth-child(odd) article {
		@apply md:relative md:before:absolute md:before:w-2 md:before:h-full md:before:bg-my-accent md:before:right-full md:before:rounded-md lg:before:hidden;
	}
}
