@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		font-family: 'Titillium Web', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-position: 50% 15%;
		@apply text-my-dark  bg-my-light;
	}

	.dark {
		@apply text-my-light bg-my-bgDark;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}
}

@layer utilities {
	.my-gradient {
		background-image: linear-gradient(to left top, #30cfd0 40%, #330867 100%);
	}
	

	.my-gradient-text {
		@apply bg-clip-text;
		-webkit-text-fill-color: transparent;
	}

	.text-shadow {
		text-shadow: 0.0625rem 0.0625rem 0.3125rem #000;
	}

}

@layer components {
	.App {
		@apply min-h-screen mx-auto flex flex-col items-center justify-between max-w-[100rem] relative;
	}

	.burger-btn {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out after:absolute before:absolute after:-translate-y-3 before:translate-y-2 after:-translate-x-1/2 before:-translate-x-1/2;
	}

	.burger-btn::after,
	.burger-btn::before {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out;
	}

	.cross-btn {
		@apply w-6 h-1  rounded-md transition-all duration-500 ease-in-out -translate-x-1/2 bg-transparent after:absolute before:absolute after:rotate-45 before:-rotate-45 after:top-1/2 after:left-1/2  after:-translate-y-1/2 
		before:top-1/2 before:left-1/2  before:-translate-y-1/2;
	}

	.cross-btn::after,
	.cross-btn::before {
		@apply w-6 h-1  dark:bg-my-light bg-my-bgDark rounded-md transition-all duration-500 ease-in-out;
	}

	.nav-link {
		@apply uppercase font-bold px-1 relative tracking-wider text-lg transform duration-300 ease-in-out after:absolute hover:text-my-accentHover active:text-my-accentHover hover:after:scale-100 active:after:scale-100 hover:transform;
	}

	.icons {
		@apply transform duration-300 ease-in-out  hover:text-my-accentHover active:text-my-accentHover after:absolute hover:after:scale-100 active:after:scale-100 hover:transform;
	}
	.icons::after,
	.nav-link::after {
		@apply w-full h-0.5 bg-my-accent scale-x-0 origin-left -bottom-1 left-0 transition-all duration-200 ease-in-out;
	}
	.headLine2 {
		line-height: 1;
		font-size: clamp(1rem, 8vw, 3.75rem);
		@apply font-bold uppercase whitespace-nowrap text-center md:text-left;
	}

	.headline3 {
		line-height: 1;
		font-size: clamp(1rem, 6.5vw, 3rem);
		@apply font-bold uppercase whitespace-nowrap text-center;
	}
	.cards {
		@apply grid grid-cols-3 gap-1 select-none small:row-start-2 small:col-span-4 sm:grid-cols-4 lg:grid-cols-5 xl:row-span-2 xl:grid-cols-6;
	}

	.card {
		@apply flex flex-col items-center justify-center  bg-my-dark/10  dark:bg-my-light/10 rounded-md relative min-h-[7rem] hover:before:opacity-100 after:absolute;
	}

	.card::before {
		@apply absolute rounded-md h-full w-full left-0 opacity-0 top-0 duration-500;
	}
	.card::after {
		@apply rounded-md h-full w-full left-0 opacity-0 top-0 duration-500;
	}
	.cards:hover > .card::after {
		@apply opacity-100;
	}
	.card::before {
		background: radial-gradient(
			25rem circle at var(--mouse-x) var(--mouse-y),
			#00b485,
			transparent 40%
		);
		z-index: 3;
	}
	.card::after {
		background: radial-gradient(
			15rem circle at var(--mouse-x) var(--mouse-y),
			#00d69e,
			transparent 40%
		);
		z-index: 1;
	}

	.card:hover .icon {
		@apply animate-flip;
	}
	.card-content {
		@apply shadow-lg flex flex-col py-1 items-center justify-center bg-my-light dark:bg-my-dark rounded-md absolute inset-[0.125rem] z-[2];
	}

	.toggle-mode:checked + .slider {
		@apply bg-my-dark;
	}

	.toggle-mode:checked + .slider:before {
		@apply translate-x-[1.625rem] bg-my-dark;

		box-shadow: inset -0.1875rem -0.125rem 0.3125rem -0.125rem #8983f7,
			inset -0.625rem -0.25rem 0 0 #a3dafb;
	}

	.cardAbout {
		@apply flex-grow w-full text-left z-30;
	}

	.btn {
		@apply bg-my-accent text-my-dark font-bold rounded-md duration-300  hover:bg-my-accentHover active:bg-my-accentHover border border-my-dark;
	}

	.modal::backdrop {
		@apply bg-my-accent/10;
	}

	.modal::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.btn:disabled {
		@apply text-my-textDisable bg-my-btnDissable;
	}

	.projects-sections {
		@apply sm:mx-4 md:mx-0 md:flex;
	}
	.projects-ul {
		@apply grid grid-cols-2 font-bold place-items-start border-t my-gradient my-gradient-text border-my-accent my-3 pt-3;
	}

	.projects-a {
		@apply text-my-accent py-0.5 underline  hover:text-my-accentHover active:text-my-accentHover duration-300 ease-in-out;
	}

	.projects-article {
		@apply grid md:place-content-center  px-4 py-2 relative  dark:top-0 z-50  small:w-3/4  md:flex-[1];
	}

	.projects-container section:nth-child(odd) {
		@apply md:flex-row-reverse xl:flex-row;
	}

	.projects-container section:not(:last-child) article {
		@apply relative after:absolute after:w-[90%] after:rounded-md after:left-1/2 after:-translate-x-1/2 small:after:w-full after:h-2 after:top-full z-50 after:bg-my-accent md:after:hidden;
	}

	.projects-container section:nth-child(even) article {
		@apply md:relative md:before:absolute md:before:w-2 md:before:h-full  md:before:bg-my-accent md:before:left-full md:before:rounded-md lg:before:hidden small:ml-4;
	}
	.projects-container section:nth-child(odd) article {
		@apply md:relative md:before:absolute md:before:w-2 md:before:h-full md:before:bg-my-accent md:before:right-full md:before:rounded-md lg:before:hidden small:mr-4 small:ml-auto  xl:mr-0 xl:ml-4;
	}
	
}
